.pubitem {
  line-height: 1.5em;
}

.pubtitle {
  font-weight: bold;
}

.pubauthors, .pubinfo {
}

.publinks {
  font-size: 75%;
  margin-bottom: 1em;
}

.publication-teaser {
  display: block;
  max-width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto
}

.publication-info {
  margin-bottom: 3em
}
