---
layout: publication
title: Publications
permalink: /publications/
---

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Publications</h1>
          <p>List of all articles published in the context of the project.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="pub-area">
<h1>Talks</h1>
<ol>
{% for pub in site.publications %}
 {% if pub.type == 'talk' %}
 <li>
 <div class="pubitem">
   <div class="pubauthors">
     {{ pub.authors }}
   </div>
   <div class="pubtitle">
     <b>{{ pub.title }}</b>
   </div>
   <div class="pubpublication">
     {{ pub.publication }}
   </div>
 </div>
 <div class="publinks">
   <a href="/{{ pub.slug}}.pdf"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp;
 </div>
 </li>
 {% endif %}
{% endfor %}
</ol>
</div>



<div class="pub-area">
<h1>ANR Project</h1>
<ol>
{% for pub in site.publications %}
 {% if pub.type == 'project' %}
 <li>
 <div class="pubitem">
   <div class="pubauthors">
     {{ pub.authors }}
   </div>
   <div class="pubtitle">
     {{ pub.title }}
   </div>
 </div>
 <div class="publinks">
   <a href="/{{ pub.slug}}.pdf"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp;
 </div>
 </li>
 {% endif %}
{% endfor %}
</ol>
</div>