---
layout: publication
title: Publications
permalink: /publications/
---

{% assign publications = site.publications | sort: "year" | reverse %}

<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Publications</h1>
          <p>List of all articles published in the context of the project.</p>
        </div>
      </div>
    </div>
  </div>
</section>



<div class="pub-area">
<h1>Articles</h1>
<ol>
{% for pub in publications %}
 {% if pub.type == 'article' %}
 <li>
 <div class="pubitem">
   <div class="pubauthors">
     {{ pub.authors }}
   </div>
   <div class="pub-title">
     {{ pub.title }}
   </div>
   <div class="pubpublication">
     {{ pub.publication }}, {{pub.pubdate}}, {{pub.year}}.
   </div>
 </div>
 <div class="publinks">
   <a href="/{{ pub.slug}}.pdf"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp;
 </div>
 </li>
 {% endif %}
{% endfor %}
</ol>

<h1>Invited Talks</h1>
<ol>
{% for pub in publications %}
 {% if pub.type == 'talk' %}
 <li>
 <div class="pubitem">
   <div class="pubauthors">
     {{ pub.authors }}
   </div>
   <div class="pub-title">
     {{ pub.title }}
   </div>
   <div class="pubpublication">
     {{ pub.publication }}, {{pub.pubdate}}, {{pub.location}}, {{pub.year}}.
   </div>
 </div>
 <div class="publinks">
   <a href="/{{ pub.slug}}.pdf"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp;
 </div>
 </li>
 {% endif %}
{% endfor %}
</ol>

<h1>ANR Project</h1>
<ol>
{% for pub in publications %}
 {% if pub.type == 'project' %}
 <li>
 <div class="pubitem">
   <div class="pubauthors">
     {{ pub.authors }}
   </div>
   <div class="pub-title">
     {{ pub.title }}
   </div>
   <div class="pubpublication">
     {{ pub.publication }}, {{pub.year}}.
   </div>
 </div>
 <div class="publinks">
   <a href="/{{ pub.slug}}.pdf"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp;
 </div>
 </li>
 {% endif %}
{% endfor %}
</ol>
</div>
